/* infogram */
.infogram-top h1 {
    font-size: 40px;
}

.infogram-bottom {
    background: #b5ecff;
}

.totale-besparing {
    height: 120px;
    text-align: center;
    padding: 10px 0 0;

}

.infogram-bottom h1 {
    color: #25292a;
    font-size: 40px;
    font-weight: 300;
}

.infogram-bottom h2 {
    color: #25292a;
    font-size: 40px;
    font-weight: 200;
}

[v-cloak] {display:none;}

#roi-form .uk-form-horizontal input.uk-form-width-mini {
    width: 75px;
}

#roi-form .uk-form-horizontal {
    padding: 5px 0 5px 5px;
}
#roi-form .uk-form-horizontal .uk-form-label {
    font-style: italic;
}
#roi-form .uk-form-horizontal span.uk-display-inline-block {
    font-size: 12px;
}
#roi-form .uk-form-horizontal .uk-form-row + .uk-form-row {
    margin-top: 10px;
}

#roi-form .uk-form-horizontal input {
    background-color: #cfcfcf;
    color: #333;
    font-weight: bold;
    border: none;
}

.infogram-bars > div {
    width: 49%;
    color: #fff;
    border-radius: 5px 5px 0 0;
    text-align: center;
    -webkit-transition: height 1s ease-in-out;
    transition: height 1s ease-in-out;
    font-size:10px;
    line-height: 16px
}

.infogram-bars .uk-text-nowrap{
    font-size:14px;
}

.infogram-bars .total_old {
    background-color: #20a5d3;
}
.infogram-bars .total_new {
    background-color: #2dc5f9;
}

.globe-image {
    position: relative;
    overflow: hidden;
}

.globe-image img {
    position: absolute;
}

.globe-image .car {
    top: 15%;
    right: 30%;
}

.globe-image .globe {
    top: 35%;
    right: calc(50% - 175px);
}

.table-header{
    background:#fe634a;
    color:#fff;
    padding:10px 0;
}

tr.table-header h4{
    color:#fff;
}

tr.table-header-old{
    background: #20a5d3;
}


tr.table-header-new{
    background: #2dc5f9;
}


#roi-form .uk-table td, #roi-form .uk-table th {
    border-bottom: 1px solid #adadad;
}

.image-spin {
    animation: rotate-img 2s infinite linear;
}

@keyframes rotate-img {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}
